
<div id="date_chooser">
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option value="">Select Day</option>
    <option value="/schedule?day=13">Friday, March 13</option>
    <option value="/schedule?day=14">Saturday, March 14</option>
    <option value="/schedule?day=15">Sunday, March 15</option>
    <option value="/schedule?day=16">Monday, March 16</option>
    <option value="/schedule?day=16">Tuesday, March 17</option>
</select>
</div>
<div id="schedules_boxer">
<div id="schedules_container">
<% @cols.each do |key, val| %>
	<div class="time_slot">
	<p class="time_header"><%= key == "" ?  "No time announced" : key %></p>
	<div class="all_events">
		
		<ul class="my_events_col"></ul>

		<% location_grouped_events = val.group_by(&:location)  %>
		<% location_grouped_events.keys.sort %>
		<% location_grouped_events.each do |loc, ev| %>
			
		
		<p class="location_header "><%= loc %> </p>
		<ul class="all_events_besides_mine" data-location="<%= loc.gsub("&","and") %>">
		<%  ev.each do |event| %>
			<li data-event-id="<%= event.event_id %>">
			<div class="event_cell" >
				<a href='http://schedule.sxsw.com/<%= event.link %>'><%= event.title[0..50] %> </a>
				<p class="times"><%= event.start_time %> - <%= event.end_time %></p><a href="#" class="star <%= event.event_id %>"></a>
				<p class="event_loc_in_cell"><%= loc.gsub("&","and") %></p>
			</div>
			</li>
			
		<% end %>
		</ul>
	
	<% end %> 
	</div>
	</div>

<% end %> 
<div style="clear:both;"></div>
</div> <!-- end boxer -->